{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "babel-preset-react-app"
  ],
  "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
  ]
}